
<div class="container">
  <div id="headerLead" class="text-center"><b>Leaderboard</b></div>       
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Campername</th>
        <th>points in past 30 days</th>
        <th>All time points</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
